extends layout

block content
  h3 THIS IS NOT A DRILL
    ul
      li Orange Cheese
      input(type='radio').lol
      li Green Ham
      input(type='radio').lol
      li Brown 
      input(type='radio').lol
